<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>
</head>
<body>
<h1 class="title">Welcome to my Todo list</h1>

<form action="" method="post" class="todo-form">
    <label for="todo" class="form-label">Todo:</label>
    <input type="text" id="todo" name="todo" placeholder="enter a todo" class="form-input">
    <button type="submit" name="submitTodo" class="btn btn-add">Add</button>
    <button type="submit" name="resetDatabase" class="btn btn-reset">Reset all todos</button>
</form>

<ul class="todo-list">
    {% for todo in todos %}
        <form action="" class="todo-item-form">
            <li class="todo-item">{{ todo.name|e }}</li>
            <button type="submit" name="removeTodo" value="">remove todo</button>
        </form>
    {% endfor %}
</ul>
</body>
</html>
