<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">

    <title>Document</title>
</head>
<body>
<h1 class="title">Welcome to my Todo list</h1>
<form action="/todo/add" method="post" class="todo-form">
    <label for="todo" class="form-label">Todo:</label>
    <input type="text" id="todo" name="todo" placeholder="enter a todo" class="form-input">
    <button type="submit" name="submitTodo" class="btn btn-add">Add</button>
</form>
<form action="/todo/reset" method="post" class="todo-form-reset">
    <button type="submit" name="resetDatabase" class="btn btn-reset">Reset all todos</button>
</form>


<ul class="todo-list">
    {% for todo in todos %}
        <form action="" class="todo-item-form" method="POST">
            <li class="todo-item">
                <label>
                    <input type="text" name="modifyTodo" value="{{ todo.name|e }}">
                    <input type="hidden" name="removeTodo" value="{{ todo.id }}">
                </label>
                <button class="btn btn-add" type="submit" name="editTodoButton">confirm edit</button>
                <form action="/todo/remove" method="post">
                    <button class="btn btn-reset" type="submit" name="removeTodoButton">remove todo</button>
                </form>
            </li>
        </form>
    {% endfor %}
</ul>


</body>
</html>
