body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px ;
}

.all-button {
    display: flex;
    justify-content: space-between;
    margin: 2% 15%;
}

.title {
    color: #333;
    margin-top: 30px;
}

.todo-form {
    margin-top: 20px;
}

.form-label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

.hide-input {
    border-color: transparent;
}

input  {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-add {
    background-color: #4CAF50;
    color: white;
}

.btn-reset {
    background-color: #f44336;
    color: white;
}

.btn-reset-form{
    background-color: #f44336;
    color: white;
    margin: 2%;
}

.btn-sort {
    background-color: dimgrey;
    color: white;
    margin: 2%;
}

.btn:hover {
    background-color: black;
}

.sort-button {
    display: flex;
    gap: 1%;
}

.todo-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    margin: 1% 15%;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.modify-button {
    padding-left: 400px;
}

.checkbox {
    width: 50px;
}